body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: gray;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

header {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: black;
    min-height: 40px;
    color: aliceblue;
}

main {
    text-align: center;
    display: block;
    width: 100%;
}

.btnDiv {
    padding: 10px;
}

#canvas2d {
    margin: auto;
    display: block;
    width: 400px;
    /*    width: 100%;*/
    height: 400px;
    background-color: aliceblue;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    text-align: center;
}